## **Analyzing the Iris dataset using Python**

### Import Python packages:

In [114]:

# packages will be updated according to the task progression.

import csv
# for dataframes 
import pandas as pd
# machine Learning Library that contains datasets.
import sklearn as skl 
# plotting library
import matplotlib.pyplot as plt
# python library for creating iterators to produce complex iterators.  
from itertools import combinations
# Data visualization library
import seaborn as sns

### Output a summary of each Iris dataset variable to a single text file

* Load dataset

In [115]:
# I am correcting this load dataset part.
# I did donwload the dataset ann save it into the repository, the issue that I tried to read it from my local maching.
# the point of this notebook is to allow to others to use it thus run it without any loading issues.
# I now changed teh path from my local machine into the repository location where i previously downloaded the dataset'"iris dataset


# as we already imported pd and downloaded the dataset, I went to the folder where the file is saved, and through properties I did copy the file path.
# assigning a value 
#file_path = (r'C:\Users\marou\Desktop\pands\pands-project\iris dataset\iris.data')
# read the data
#iris_data = pd.read_csv(file_path )

In [116]:
# read iris dataset from current repository as a pandas data frame.
# the pandas frame will start with values, I need to add column names for better understanding
iris_data = pd.read_csv('iris dataset/iris.data')
#show
iris_data

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [117]:
# identofy the columns names
# refering to the documentation file 'iris.names' in this repository. see atributes, which are corresponding to a list of columns names.
column_names = ['sepal length in cm' , 'sepal width in cm' , 'petal length in cm' , 'petal width in cm', 'class']
column_names

['sepal length in cm',
 'sepal width in cm',
 'petal length in cm',
 'petal width in cm',
 'class']

In [118]:
# now that I identified the column names, I can add them so I can identify the columns easily.
iris_data = pd.read_csv('iris dataset/iris.data', names= column_names)
# show dataframe
iris_data

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Summary of each Iris dataset variable

In [119]:
# summary of the 4 variables of Iris dataset.
# The describe() method returns description of the data in the dataframe. As the dataframe contains numerical data, the description contains these information for each column: 
# count, mean, std, min, 25%, 50%, 75%, max
# https://www.w3schools.com/python/pandas/ref_df_describe.asp#:~:text=The%20describe()%20method%20returns,The%20average%20(mean)%20value.   (see .describe() method )
iris_data.describe()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

* Create a Summary of each data set variable

In [120]:
# here I used for loop to actually loop through the columns in order to save them into txt files.
# reference : https://stackoverflow.com/questions/28218698/how-to-iterate-over-columns-of-a-pandas-dataframe#:~:text=We%20can%20use%20Python%27s%20list%20slicing%20easily%20to%20slice%20df.columns%20according%20to%20our%20needs.%20For%20eg%2C%20to%20iterate%20over%20all%20columns%20but%20the%20first%20one%2C%20we%20can%20do%3A

# I skip the class. I applied the negative indexing method.
for column in iris_data.columns[:-1]:  
    # summary of each column
    summary = iris_data[column].describe()
    # create a file for each column, add the file name and format
    # f-string formatting will generate a filename based on each column name.
    file_name = f"summary of {column}.txt"
    # open each file created previosuly, and overwrite the summary of each variable accordn=ingly
    with open(file_name, "w") as f:
        f.write(summary.to_string())

### Saving a histogram of each variable to png files  

*   Create Histograms

In [121]:
# to simplify the reading and coding, assign a variable for each feature of the data set.
sepal_length    = iris_data['sepal length in cm']
sepal_width     = iris_data['sepal width in cm']
petal_length    = iris_data['petal length in cm']
petal_width     = iris_data['petal width in cm']

In [122]:
# plot a histogram for each variable
# reference : https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.hist.html#:~:text=pyplot.hist(x%2C%20bins%3DNone%2C

# 1st histogram
plt.hist(sepal_length, ec='k', color='purple', alpha=0.6)
# add x label
# reference : https://matplotlib.org/stable/api/axes_api.html#axis-labels-title-and-legend:~:text=in%20increasing%20order.-,Axis%20labels%2C%20title%2C%20and%20legend,-%23
plt.xlabel("Sepal Length in cm")
# add y label
plt.ylabel("count")
# add title
plt.title("Sepal Length Distribution")
# save histogram in .png file 
# reference : # https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.savefig.html
plt.savefig("histogram of sepal length.png")
#clear the current figure.

plt.clf()

In [123]:
# 2nd histogram
plt.hist(sepal_width, ec='k', color='green', alpha=0.6)
# add x label
plt.xlabel("Sepal Width in cm")
# add y label
plt.ylabel("count")
# add title
plt.title("Sepal Width Distribution")
# save
plt.savefig("histogram of sepal width.png")
#clear the current figure.
plt.clf()

In [124]:
# 3rd histogram
plt.hist(petal_length, ec='k', color='magenta', alpha=0.6)
# add x label
plt.xlabel("Petal Length in cm")
# add y label
plt.ylabel("count")
# add title
plt.title("Petal Length Distribution")
# save
plt.savefig("histogram of petal length.png")
##clear the current figure.
plt.clf()

In [125]:
# 4th histogram
plt.hist(petal_width, ec='k', color='orange', alpha=0.6)
# add x label
plt.xlabel("Petal Width in cm")
# add why label
plt.ylabel("count")
# add title
plt.title("Petal Width Distribution")
# save
plt.savefig("histogram of petal width.png")
#clear the current figure.
plt.clf()

### Otput a scatter plot of each pair of variables

*   Identify pairs count within data set variables

In [126]:
# finding how many pairs of variables before coding the scatter plots.
# I did manually find 6 pairs across al the 4 variables.
# I also looked up the documentation to try and find a function that generates the pairs count within a data set, this is helpful to manage larger data sets.

# The input list that I used to find the cominations.
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

# imported in cell 1 itertools package to apply the combination methid into python.
# itertools helps to create and work with repeated or unique patterns from a given list.
# reference : https://docs.python.org/3/library/itertools.html#itertools.combinations
# reference : https://www.geeksforgeeks.org/python-itertools-combinations-function/

# to generate all possible combination.(length = 2) generates pairs where the order doesn't matter.
# reference : https://www.geeksforgeeks.org/python-itertools-combinations-function/#:~:text=%23%20generate%20all%20combinations%20of%20length%202
for i in combinations(columns, 2):
    print(i)

('sepal_length', 'sepal_width')
('sepal_length', 'petal_length')
('sepal_length', 'petal_width')
('sepal_width', 'petal_length')
('sepal_width', 'petal_width')
('petal_length', 'petal_width')

In [127]:
# add a fig titlesuptitle('3 iris species')
fig.suptitle(' Scatter Plots of each pair of variables \n Iris data set ', fontsize = 15, color = 'green', )
# subplots adjust parameters
#
plt.subplots_adjust(hspace=0.3, top=0.9)

# 1st plot (Scatter plot of Sepal Length vs Sepal Width ) in 1st row, 1st , with color refernce to iris species
# reference : https://monayo.medium.com/creating-a-scatter-plot-where-points-are-colored-according-to-a-categorical-variable-in-python-c9624be2f39c#:~:text=plt.scatter(iris%5B%27Petal.Length%27%5D%2Ciris%5B%27Sepal.Length%27%5D%2Cc%3Dcolors)

axs[0, 0].scatter(sepal_length, sepal_width, marker='.',  c=colors)
# add a grid to simplfy repering the corresponding points
axs[0, 0].grid(color='blue', linestyle='--', linewidth=0.05)
# set x and y axis labels
axs[0, 0].set_xlabel('sepal length in cm')
axs[0, 0].set_ylabel('sepal width in cm')


# 2nd plot (Scatter plot of Sepal Length vs Petal Length) in 1st row, 2nd column
axs[0, 1].scatter(sepal_length, petal_length, marker='.',  c=colors)
axs[0, 1].grid(color='blue', linestyle='--', linewidth=0.05)
axs[0, 1].set_xlabel('sepal length in cm')
axs[0, 1].set_ylabel('petal length in cm')

NameError: name 'fig' is not defined

### Part 2 : 
#### My personal approach to additional data processing methods

### Boxplots

*   Create Boxplots

In [ ]:
# documentation :
# load Iris dataset using seaborn.load_dataset() method, which allows users to quickly load sample datasets provided by Seaborn. 

# Seaborn library is previously imported (as sns).
iris_ds = sns.load_dataset('iris')

# create the boxplot
plt.figure(figsize=(10, 6))
# reference : https://stackoverflow.com/questions/58576394/plotting-boxplot-with-sns#:~:text=sns.boxplot(x%3D%27value%27%2C%20y%3D%22X%22%2C%20data%3Ddata_st%2Chue%3Dy%2Cpalette%3D%27Set1%27)
sns.boxplot(x='feature', y='measurement', hue='species', data=iris)

# draw lines 
for x in []: 
    plt.axline(x=x, color='gray', linestyle='--', linewidth=1)

# add title
plt.title('Iris data set \n  Variables distribution by IRIS species', c='g', alpha =0.7)
# set x and y labels
plt.xlabel('variables')
plt.ylabel('measurement (cm)')
# add meaningful
plt.legend(title='IRIS species')
# show
#plt.tight_layout()
plt.show()

NameError: name 'iris' is not defined

*   Analysis of Boxplots 

#
#

### Heatmaps

*   Create Heatmaps for each Iris species.

*   Analysis of Heatmaps

### Pairplots :

* Create pairplots

*   Analysis of pairplots