### ***Analyzing the Iris dataset using Python***

#### Import Python packages:

In [320]:

# packages will be updated according to the task progression.

import csv
# for dataframes 
import pandas as pd
# machine Learning Library that contains datasets.
import sklearn as skl

Write a program called analysis.py that:
1. Outputs a summary of each variable to a single text file,

# Txt Files

* Load dataset

In [321]:
# Load the iris dataset.
# using the file path as I already downloaded the IRIS dataset in csv format.
# the method is explained in Pandas documentation 
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#
# pandas.read_csv(filepath_or_buffer, *, sep=<no_default>, delimiter=None  )

* Import dataset previously downloaded

In [322]:
# as we already imported pd and downloaded the dataset, I went to the folder where the file is saved, and through properties I did copy the file path.
# assigning a value 
file_path = (r'C:\Users\marou\Desktop\pands\pands-project\iris dataset\iris.data')
# read the data
df = pd.read_csv(file_path)

In [323]:
# show dataframe
# dataset shape shows 5 columns with 149 rows. I can see that the target column (species) of the dataset is included, while the column names are not. 
# reference : https://archive.ics.uci.edu/dataset/53/iris
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [324]:
# add meaningful columns names
# https://archive.ics.uci.edu/dataset/53/iris   ( see variables table )
column_names = ['sepal length in cm ' , 'sepal width in cm ' , 'petal lengthin cm ' , 'petal width in cm ', 'species']
iris_data = pd.read_csv(file_path, header= None, names=column_names)
# show data frame
iris_data

,sepal length in cm,sepal width in cm,petal lengthin cm,petal width in cm,species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [325]:
# access the columns names 
iris_data.columns

Index(['sepal length in cm ', 'sepal width in cm ', 'petal lengthin cm ',
       'petal width in cm ', 'species'],
      dtype='object')

* Output a summary of each Iris dataset variable to a single text file

In [326]:
# group by column names allows me to access each variable of dataset 
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html ( iloc documentation )
# https://www.w3schools.com/python/pandas/ref_df_iloc.asp ( use iLoc practice)

sepal_length= iris_data.iloc[:,0]
sepal_width = iris_data.iloc[:,1]
petal_length= iris_data.iloc[:,2]
petal_width =iris_data.iloc[:,3]

In [327]:
# save sepal length column values into a txt file
# showing the header in txt file by setting the parameter header to True, hiding the index by setting it to False
# repeat for the 4 variables

# Sepal length
sepal_length.to_csv('sepal_length.txt', header=True, index=False)
# Sepal width
sepal_width.to_csv('sepal_width.txt', header=True, index=False)
# Petal length
petal_length.to_csv('petal_length.txt', header=True, index=False)
# Petal width
petal_width.to_csv('petal_width.txt', header=True, index=False)